* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 25px 5% 15px 5%;
	text-align: center;
}

.row, .column {
	display: flex;
}

.column {
	flex-direction: column;
}

h1 {
	margin-bottom: 30px;
}

header nav a {
	margin-right: 5px;
	color: #444;	
}

.note {
	background: #333;
	color: #fff;
	padding: 15px;
	margin-right: 10px;
}

form {
	width: 350px;
	margin: 0 auto;
}

form input, form textarea, form button {
	padding: 5px;
	margin-bottom: 5px;
	font-size: 17px;
	outline: none;
}